@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#fullSingle {
  height: 70vh;
  width: 90%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  margin: 2rem auto;
  border: 3px solid gray;
  border-radius: 8px;
}
.MainImg {
  height: 90%;
  width: 50%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}
.more {
  height: 90%;
  width: 30%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid black; */
}
.firstImg,
.secondImg,
.thirdImg {
  height: 25%;
  width: 80%;
  background-color: rgb(165, 165, 165);
}
.firstImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.secondImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.thirdImg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.img {
  height: 90%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  background-color: rgb(165, 165, 165);
  border: 0.2rem solid rgb(75, 71, 71);
}
.img img {
  height: 100%;
  width: 85%;
  object-fit: contain;
  /* background-color: rgb(165, 165, 165); */
  margin: 0 2rem;

}
.details {
  height: 90%;
  width: 50%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  border: 2px solid black;
}
.mainDetails{
  height: 80%;
  width: 90%;
  /* background-color: red; */
}
.mainDetails h2{
  font-family: Poppins;
}
.mainDetails h3{
  font-family: Poppins;
}